.add{
    width: 70%;
    margin-left: max(10vw,30px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 18px;
}
.add form{
    gap: 20px;
}

.add-img-upload img{
    width: 280px;
    height: 250px;
    padding: 2px;
}
.add-product-name  , .add-product-description{
    width: max(40% , 280px);
}
.add-product-name input , .add-product-description textarea{
   padding: 15px; 
}
.add-category-price{
    display: flex;
    gap: 50px;
}
.add-category-price select{
    max-width: 120px;
    padding: 12px;
}
.add-price input{
    max-width: 120px;
    padding: 14px;
    

}
.add-btn{
    max-width: 280px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}




