.expolar-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.expolar-menu h1{
    color: #262626;
    font-weight: 600;
}
.explore-menu-text{
    color: #262626;
    font-size: 18px;
    font-weight: 500;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow: scroll;
}
.explore-menu-list::-webkit-scrollbar {
    display: none;
}
.explore-menu-list img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}
.explore-menu-list img:hover{
    transform: scale(1.05);
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.6vw, 16px);
    cursor: pointer;
}
.explore-menu hr{
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;

}
.explore-menu-list-item .active{
    border: 4px solid tomato;
    border-radius: 50px;

}
@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
    
}