.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    height: 100%;

    text-align: center;

    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    font-family: "Segoe UI", sans-serif;
    background-color: #00000090;
    display: grid;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.login-popup-container {
    place-self: center;
    width: max(26vw, 330px);
    color: #808080;
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 25px;

    padding: 25px, 30px;
    border: 30px solid white;
    border-radius: 60px;
    font-size: 15px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-title h2{
    font-size: 25px;
    text-decoration: solid;
    
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 30px;
}

.login-popup-container button {
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 60px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-container button:hover {
    background-color: black;
    transform: scale(1.05);
}

.login-popup-condition button:active {
    background-color: #030303;
    transform: scale(0.98);
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -19px;
}

.login-popup-condition input {
    margin-top: 5px;
}

.login-popup p span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}

.clickhere :hover {
    color: black;
    text-decoration: none;
}