.lists{
     width: 70%;
    margin-left: max(5vw,30px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 18px;
}
.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid black;
    font-size: 13px;

}
.list-table-format.title{
    background-color: #f7f7f7;
}
.list-table-format img{
    width: 50px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

button:active {
  background-color: rgb(32, 61, 3);
  transform: scale(0.98);
}

@media (max-width: 668px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr  1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
    button{
        
        width: fit-content;
    }
    
}