.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    position: relative;
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    color: black;
    animation: fadeIn 3s ease-in-out;
}
.header-content h2{
    font-size: max(3.6vw);
    font-weight: 600;
    color: whitesmoke;
}
.header-content p{
    font-size: max(1.2vw);
    font-weight: 700;
    color: white;
}

.header-content button{
    border: none;
    color: #747474 ;
    font-weight: 500;
    padding: 1vw 2.6vw;
    background-color: aliceblue;
    font-size: max(1vw , 13px);
    border-radius: 50px;

}
@media (max-width:1050px) {
    
    .header-content{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    
    .header-content{
        max-width: 65%;
    }
    .header-content p{
        display: none ;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
}